                <div id="block-balance" class="notion-collection-card gallery">
                    <a class="notion-link notion-collection-card__anchor" href="{{post.url}}"></a>
                    <div class="notion-collection-card__cover small">
                        <div style="display: block; overflow: hidden; position: absolute; inset: 0px; box-sizing: border-box; margin: 0px;">
                        <img alt="Cover" sizes="100vw" src="{{post.data.image}}">
                    </div>
                </div>
                <div class="notion-property notion-property__title">
                    <span class="notion-semantic-string">
                        <span>{{post.data.title}}</span></span>
                    </div>
                    <div class="notion-collection-card__content">
                        <div class="notion-collection-card__property">
                            <div class="notion-property notion-property__text">
                                <span class="notion-semantic-string"><span>{{post.data.description}}</span></span>
                            </div>
                        </div>
                    </div>
                </div>