---
layout : 'base.njk'
---
    <!-- nav -->
    <div class="notion-header page">
        <div class="notion-header__cover no-cover">
        </div>
        <div class="notion-header__content no-cover no-icon max-width">
            <a href="/">← Return home</a>
        </div>
    </div>
    <!-- end of nav -->

    <div class="super-content max-width">
        <div class="notion-root">
            <!-- header -->
            <div>               
                <h1 class="notion-heading">
                    {{ title }}
                    
                     <div class="notion-text">
                        <p>
                            {{ description }}
                        </p>
                    </div>    
                    
                    {% if isbutton %}
                    <div class="notion-column-list">
                        <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 2) * 0.29166666666666663);">
                            <div class="notion-callout border">
                                <p class="notion-callout__content">
                                    <span class="notion-semantic-string"><span><a href="{{link}}" class="notion-link link" target="_blank" rel="noopener noreferrer">{{button}}</a></span></span>
                                </p>
                            </div>
                        </div>
                    </div> 
                    {%endif%}
                    
                </h1>            
        </div>
        <!-- end of header -->     
                         
        <!-- featured -->
        <div class="notion-image page-width">
            <img alt="{{ imageAlt }}" sizes="100vw" src="{{ image }}" >
            <figcaption class="notion-caption">{{ imageAlt }}</figcaption>
        </div>  
        
        <div class="notion-text">
            <p>{{ content | safe }}</p>
        </div>
        <!-- end of featured -->
        {% include 'footer.njk' %}         
        </div>
    </div>    
