<!-- footer  -->
<div style="padding-top:70px;">
    <p>
        © <span id="year"></span> shinkhant.xyz All Rights Reserved.
    </p>
</div>
<!-- end of footer  -->   

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
