---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const writings = (await getCollection("writings")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-20">
    <h1 class="text-3xl font-bold">Writings</h1>

    <article class="flex flex-col gap-4">
      {writings.length !== 0 && (
        writings.filter((writing) => writing.data.isPublish) // Filter published posts
          .map((writing) => (
            <a
              class="group flex w-full cursor-pointer flex-col justify-between gap-2 transition-all md:flex-row md:items-center"
              href={`/writings/${writing.slug}`}
            >
              <div
                class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center"
              >
                <p class="underline decoration-1 duration-300 hover:decoration-green-400">{writing.data.title}</p>
                <div class="flex flex-row items-center gap-4 text-neutral-500">
                  <p>{formatDate(writing.data.publishedAt)}</p>
                </div>
              </div>
            </a>
          ))
      )}
    </article>
  </main>
</Layout>
