---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="flex flex-col gap-20">
        <h1 class="text-7xl font-bold">404</h1>
        <p class="text-lg text-gray-600">
            Oops! The page you're looking for doesn't exist.
        </p>
    </main>
</Layout>
