---
const year = new Date().getFullYear();
---

<footer
	class="flex w-full flex-row justify-between gap-2 align-top pb-4"
>
	<p class="text-neutral-950 me-0 sm:me-4">
		&copy;
		Shin Khant {year}.
    </p>
	<p class="text-neutral-950 font-sans">
		<span class="text-red-500">❤️</span> ဖြင့် ဖန်တီးသည်။
    </p>
</footer>