---
title: BOO! 
layout: 'base.njk'
permalink: 404.html
---
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
body{
	background-color : #fff;
}
</style>
    <!-- nav -->
    <div class="notion-header page">
        <div class="notion-header__cover no-cover">               
        </div>
        <div class="notion-header__content no-cover no-icon max-width">
        </div>
    </div>
    <!-- end of nav -->

    <div class="super-content max-width">
        <div class="notion-root">
            <div>   
                    <div>                 
			<img src="https://shinkhant.netlify.app/assets/site.gif" alt="ghost_404" class="center">     
                    </div>     
		   <div style="text-align: center;">
			<h2 style="padding-bottom: 30px;">BOO! ~~ This page doesn't seem to exist.  </h2>
			<a href="/">← Return home</a>
		  </div>                                                   
            </div>

        </div>
    </div>
