---
title : About Me
layout: 'base.njk'
---

    <!-- nav -->
    <div class="notion-header page">
        <div class="notion-header__cover no-cover">
                
        </div>
        <div class="notion-header__content no-cover no-icon max-width">
            <div class="notion-header__title-wrapper">
                <a href="/">← Return home</a>
            </div>
        </div>
    </div>
    <!-- end of nav -->

    <div class="super-content max-width">
        <div class="notion-root">
            <!-- header -->
            <div>   
                    <div>               
                        <h1 class="notion-heading">
                            About Me
                        </h1>   
                        <p>
                        I hope you can find here what you were looking for; please reach out if you have any questions. I would love to help. 😉 I’m glad you stumbled upon my website.
                        </p>      
                    </div>              
                     <div class="notion-column-list">
                        <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 2) * 0.29166666666666663);">
                            <div class="notion-callout border">
                                <p class="notion-callout__content">
                                    <span class="notion-semantic-string"><span><a href="mailto:shinkhantmaungs@gmail.com" class="notion-link link" target="_blank" rel="noopener noreferrer">Say Hello!</a></span></span>
                                </p>
                            </div>
                        </div>

                    </div>                
            </div>
            <!-- end of header -->

            <!-- work -->
            <div class="notion-collection inline" style="padding-top:70px;">
                <div>
                    <h2 class="notion-heading">
                        <span class="notion-semantic-string"><span>Experience</span></span>
                    </h2>
                </div>  
                <div class="notion-column-list">
                    <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 1) * 0.5);">
                        <h3 class="notion-heading">
                            <strong>    Jr. Web Developer @ MyanAnts </strong>
                        </h3>
                        <div class="notion-text">
                            <p class="notion-text__content">
                                2021 May - Current
                            </p>
                        </div>
                    </div>
                    <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 1) * 0.5); margin-inline-start: var(--column-spacing);">
                        <h3 class="notion-heading">
                            <strong>Intern @ MyanAnts_Ancedmcy</strong>
                        </h3>
                        <div class="notion-text">
                            <p class="notion-text__content">
                                2021 Jan - 2021 May
                            </p>
                        </div>
                    </div>
                </div>                              
            </div>
            <!-- end of work -->

            
            {# <div class="notion-divider"></div> #}


            <!-- education -->
            <div class="notion-collection inline" style="padding-top:70px;">
                <div>
                    <h2 class="notion-heading">
                        <span class="notion-semantic-string"><span>Education</span></span>
                    </h2>
                </div>  
                <div class="notion-column-list">
                    <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 1) * 0.5);">
                        <h3 class="notion-heading">
                            <strong>Distance Bachelor of Arts @Dagon University</strong>
                        </h3>
                        <div class="notion-text">
                            <p class="notion-text__content">
                                2018 Sep - Current 
                            </p>
                        </div>
                    </div>
                    <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 1) * 0.5); margin-inline-start: var(--column-spacing);">
                        <h3 class="notion-heading">
                            <strong>Diploma in Computer Science @City Technical Institute</strong>
                        </h3>
                        <div class="notion-text">
                            <p class="notion-text__content">
                                2020 - Current
                            </p>
                        </div>
                    </div>
                </div> 
                <div class="notion-column-list">
                    <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 1) * 0.5);">
                        <h3 class="notion-heading">
                            <strong>Programming @Green Hacker Institute</strong>
                        </h3>
                        <div class="notion-text">
                            <p class="notion-text__content">
                                2019 Sep - 2020
                            </p>
                        </div>
                    </div>
                    <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 1) * 0.5); margin-inline-start: var(--column-spacing);">
                        <h3 class="notion-heading">
                            <strong>Cretificate in Business Studies @ Yangon University of Economics - Hlaing Camps</strong>
                        </h3>
                        <div class="notion-text">
                            <p class="notion-text__content">
                                2019 - 2020
                            </p>
                        </div>
                    </div>
                </div>                              
            </div>
            <!-- end of education -->

            {% include 'footer.njk' %}
        </div>
    </div>
