---
title : Shin Khant  -  Home
layout: 'base.njk'
---
    <!-- nav -->
    <div class="notion-header page">
        <div class="notion-header__cover no-cover">
                
        </div>
        <div class="notion-header__content no-cover no-icon max-width">
            <div class="notion-header__title-wrapper">
            <img src="assets/cover.png" style="display:none;">
                <h1 class="notion-header__title"><img src="assets/logo.png" alt="Logo" width="130px;"></h1>
            </div>
        </div>
    </div>
    <!-- end of nav -->

    <div class="super-content max-width">
        <div class="notion-root">
            <!-- header -->
            <div>               
                    <h1 class="notion-heading">
                        I'm Shin Khant — a freelance developer.
                    </h1>
                    <div class="notion-text" style="padding:40px 0 40px 0;">
                        <br>
                        <p>I'm a web developer with a knack for building tidy systems and an eye for design. 
                        <br>
                        <p>I  like coffee ☕️ , plants 🌱 and minimalist.</p>
                        <br>
                        <p>You can contact me at <a href="mailto:shinkhantmaungs@gmail.com">shinkhantmaungs@gmail.com</a>.</p>
                        <br>
                    </div>
                     <div class="notion-column-list">
                        <div class="notion-column" style="width: calc((100% - var(--column-spacing) * 2) * 0.29166666666666663);">
                            <div class="notion-callout border">
                                <p class="notion-callout__content">
                                    <span class="notion-semantic-string"><span><a href="mailto:shinkhantmaungs@gmail.com" class="notion-link link" target="_blank" rel="noopener noreferrer">Say Hello 👋</a></span></span>
                                </p>
                            </div>
                        </div>
                        <div  class="notion-column" style="width: calc((100% - var(--column-spacing) * 2) * 0.125); margin-inline-start: var(--column-spacing);">
                            <div id="block-4065d3ae2953441482c074028a6e5f3b" class="notion-divider">

                            </div>
                        </div>
                        <div  class="notion-column" style="width: calc((100% - var(--column-spacing) * 2) * 0.5833333333333335); margin-inline-start: var(--column-spacing);">
                            <h3 class="notion-heading">
                                <span class="notion-heading__anchor" ></span><span class="notion-semantic-string"><span><a href="https://twitter.com/shinKhantMaung4" class="notion-link link" target="_blank" rel="noopener noreferrer"><img src="https://super.so/icon/dark/twitter.svg" alt="Tw"></a></span><span>      </span><span><a href="https://instagram.com/shinkhantmaung/" class="notion-link link" target="_blank" rel="noopener noreferrer"><img src="https://super.so/icon/dark/instagram.svg" alt="Ig"></a></span><span>      </span><span><a href="https://github.com/shinkhantmaung" class="notion-link link" target="_blank" rel="noopener noreferrer"><img src="https://super.so/icon/dark/github.svg" alt="Gh"></a></span></span>
                            </h3>
                    </div>
                    </div>                
            </div>
            <!-- end of header -->

            <!-- featured -->
            <div class="notion-collection inline" style="padding-top:70px;">
                <h3 class="notion-collection__header">
                    Works
                </h3><br>                  
                <div class="notion-collection-gallery">
                    {%- for post in collections.featured | reverse -%}
                        {% include 'collection.njk'%}
                    {%- endfor-%}
                    <p class="notion-text__content">
                        <a class="notion-link link" href="/portfolio/">Check out my other projects</a></span><span> &gt;</span>
                    </p>
                </div>             
            </div>
            <!-- end of featured -->

            <!-- template -->
            <div class="notion-collection inline" style="padding-top:70px;">
                <h3 class="notion-collection__header">
                    Notion Template
                </h3><br>                  
                <div class="notion-collection-gallery">
                    {%- for post in collections.template | reverse -%}
                        {% include 'collection.njk'%}
                    {%- endfor-%}
                </div>             
            </div>
            <!-- end of template -->

            <!-- blog -->
            <div class="notion-collection inline" style="padding-top:70px;">
                <h3 class="notion-collection__header">
                    Blogs
                </h3>                   
                <div class="notion-collection-gallery">
                    <ul style="padding: 3px 10px;">
                    {%- for post in collections.post | reverse -%}
                        {% include 'post_collection.njk'%}
                    {%- endfor-%}                    
                    </ul>
                </div>    
                {# <p class="notion-text__content">
                    <a class="notion-link link" href="/blog/">view more</a></span><span> &gt;</span>
                </p>#}
            </div>
            <!-- end of blog -->
            {% include 'footer.njk' %}
        </div>
    </div>
